---
class: classify
layout: page
permalink: /categories
---
<div class="page-classify">
    <header class="header">
        <h1 class="color-secondary fw-normal">
            <i class="far fa-folder-open"></i>
            Categories
        </h1>
    </header>
    <div class="container">
        {% for category in site.categories %}
        <a href="#{{ category[0] }}" class="component-tag d-inline-block">
            {{ category[0] }}
        </a>
        {% endfor %}
    </div>
    <div>
        {% for category in site.categories %}
        <div id="{{ category[0] }}" class="archive-box color-secondary">
            <h3 class="title">
                <i class="fas fa-circle color-link-light" style="font-size:.7rem"></i>
                {{ category[0] }}
            </h3>
            <div class="menu-box">
                {% for post in category[1] %}
                {% include simple_post_info.html post=post  %}
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
