---
class: classify
layout: page
permalink: /tags
---

<div class="page-classify">
    <header class="header">
        <h1 class="color-secondary fw-normal">
            <small><i class="fas fa-tags"></i></small>
            Tags
        </h1>
    </header>
    <div class="container">
        {% for tag in site.tags %}
        <a href="#{{ tag[0] }}" class="component-tag d-inline-block">
            {{ tag[0] }}
        </a>
        {% endfor %}
    </div>
    <div>
        {% for tag in site.tags %}
        <div id="{{ tag[0] }}" class="archive-box color-secondary">
            <h3 class="title">
                <i class="fas fa-circle color-link-light" style="font-size:.7rem"></i>
                {{ tag[0] }}
            </h3>
            <div class="menu-box">
                {% for post in tag[1] %}
                {% include simple_post_info.html post=post  %}
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
