# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: Jekyll Theme Morph
email: your-email@example.com
description: The morph jeykll theme
baseurl: "/jekyll-theme-morph" # the subpath of your site, e.g. /blog
url: "https://alex-1900.github.io" # the base hostname & protocol for your site, e.g. http://example.com
domain: alexis-otaku.top

# Accounts
github_username:  alex-1900

# Build settings
#theme: minima
plugins:
  - jekyll-feed
  - jekyll-paginate
  - jekyll-seo-tag

# Build settings
markdown: kramdown
highlighter: rouge
kramdown:
  input: GFM
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    css_class: 'highlight'
#    block:
#      line_numbers: true
#      start_line: 1
#
#linenos: true

morph:
  skin: silver
  include:
    home_categories_bar:
      title: Top Categories
      path: /categories
    home_tags_bar:
      title: Top Tags
      path: /tags
  pages:
    - name: tags
      path: /tags
    - name: categories
      path: /categories
    - name: search
      path: /search

# Pagination Settings
paginate: 6
permalink: /:year/:month/:day/:title.markdown

# Assets
sass:
  sass_dir:     _sass
  style:        compressed

include: ['_pages']
