@import "colors";
@import "variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  background-color: white;
}

html {
  font-family: $serif-primary;
  font-size: 14px;
  overflow-y: scroll;

  @media (min-width: 600px) {
    font-size: 16px;
  }
}

a {
  color: map-get($colors, "link");
}

input {
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  -webkit-rtl-ordering: logical;
}

.border-bottom {
  border-bottom: 1px solid map-get($colors, "primary-dark");
}

.m-auto {
  margin: 0 auto;
}

.content {
  max-width: $content-max-width;
}

.text-decoration-none {
  text-decoration: none;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.d-flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-none {
  flex: none;
}

.flex-auto {
  flex: auto;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.justify-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.overflow-hidden {
  overflow: hidden;
}

.h-100 {
  height: 100%;
}

.float-left {
  float: left;
}

.list-type-none {
  list-style-type: none;
}

.font-bold {
  font-weight: bold;
}

.border-0 {
  border: 0;
}

.user-select-none {
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header {
  .logo {
    font-size: 28px;
    padding: 0 12px;
    a {
      font-family: Arial,PingFangSC-Regular,"Microsoft YaHei-Regular","Microsoft YaHei";
      font-weight: bold;
      color: #204a87;
      &:hover {
        color: #3465a4;
      }
    }
  }
  .search-box {
    margin-left: 15px;
    label {
      input {
        font-size: 13px;
        padding: 6px 10px;
        -webkit-appearance: none;
        outline: none;
        border: 1px solid rgba(186, 189, 182, 0.4);
        border-right: 0;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        color: map-get($colors, "secondary");
        width: 40%;
        @media screen and (max-width: 970px) {
          width: 50%;
        }

        @media screen and (max-width: 750px) {
          width: 70%;
        }

        @media screen and (max-width: 450px) {
          width: 75%;
        }
      }

      button[type="submit"] {
        border: 1px solid rgba(186, 189, 182, 0.4);
        border-left: 0;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        padding: 6px 8px;
        margin-left: -5px;
        color: map-get($colors, "secondary");
        cursor: pointer;
      }
    }
  }

  ul {
    padding: 0 12px;
    line-height: 250%;
    overflow-x: auto;
    white-space: nowrap;
    overflow-y: hidden;
    &::-webkit-scrollbar {
      display:none !important;
    }
    li {
      list-style-type: none;
      margin-right: 25px;
      //&.active {
      //  a {
      //    font-weight: bold;
      //  }
      //}
      a {
        color: #614e3c;
        text-decoration: none;
        font-size: 14px;
        padding: 4px 6px;
      }
    }
  }
}
