@import "variables";
@import "../themes/tangobase";

$grays: (
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900
) !default;

$colors: () !default;

// .color-gray-[level]
// .bg-gray-[level]
@each $key, $value in $grays {
  .color-gray-#{$key} {color: $value}
  .bg-gray-#{$key} {background-color: $value}
}

@each $key, $value in $colors {
  .color-#{$key} {color: $value}
  .bg-#{$key} {background-color: $value}
}
