// code highlight
@import "../variables";

.highlight {
  border-radius: 3px;
  background: $color-primary;
  ::-webkit-scrollbar{
    //width: 20px;
    height: .5rem;
  }
  ::-webkit-scrollbar-thumb{
    border-radius: 1em;
    background-color: $color-primary-light;
  }
  ::-webkit-scrollbar-track{
    border-radius: 1em;
    background-color: $color-primary-dark;
  }

  .highlighter-rouge & {
    background: $color-primary;
  }
}

pre, code {
  font-family: $monospaced;
  font-size: 0.9375em;
  border: 1px solid $color-primary;
  border-radius: 3px;
  background-color: $color-primary;
}
code {
  padding: 1px 5px;
}
pre {
  padding: 8px 12px;
  overflow-x: auto;
  tab-size: 2;
  -moz-tab-size: 2;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}
.rouge-gutter, .gutter {
  $color-gl: $color-secondary-light;
  border-right: 1px solid $color-primary-dark;
  .lineno {
    padding-right: 1rem;
    color: $color-secondary-light;
  }
}
.code {
  padding: 0 1rem;
}
code.language-plaintext {
  font-family: monospace, sans-serif;
  background-color: $color-primary;
  color: $color-secondary;
  padding: 2px 4px;
  word-wrap:break-word;
}

.rouge-code pre {
  margin-bottom: 0 !important;
}