@import "../variables";

.post-info {
  padding: 1rem .7rem;
  border-radius: 8px;
  &:hover {
    background-color: $color-primary-light;
    a.flat {
      background-color: $color-primary-dark;
    }
  }
  &:not(:first-child) {
    border-top: 1px dashed $color-primary-dark;
  }
  h3, p, .categories {
    padding: 10px 0;
  }

  p {
    line-height: 1.4em;
  }

  h3 {
    font-size: 1.3rem;
    padding-bottom: 4px;
  }
  time, .categories {
    font-size: .7rem;
  }
}
