<nav class="header w-100 bg-primary d-flex flex-column">
    <div class="border-bottom" style="height: 65%;">
        <div class="m-auto content h-100 d-flex">
            <div class="logo user-select-none flex-none d-flex flex-column justify-content-center">
                <a class="fw-bold" href="/">
                    {{ site.title }}
                </a>
            </div>
            <div class="search-box flex-auto d-flex flex-column justify-content-center">
                <form action="/">
                    <label>
                        <input class="" type="text" />
                        <button class="cursor-pointer" type="submit">
                            <i class="fas fa-arrow-right"></i>
                        </button>
                    </label>
                </form>
            </div>
        </div>
    </div>
    <div>
        <div class="m-auto content">
            <div>
                <ul class="white-space-nowrap">
                    <li class="d-inline-block active"><a href="/">posts</a></li>
                    <li class="d-inline-block"><a href="/">tags</a></li>
                    <li class="d-inline-block"><a href="/">categories</a></li>
                    <li class="d-inline-block"><a href="/">calendar</a></li>
                    <li class="d-inline-block"><a href="/">about</a></li>
                    <li class="d-inline-block"><a href="/">links</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
