<div class="post-info">
    <h3 class="fw-normal"><a class="color-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
    <div class="d-flex">
        <span class="w-100 text-start">
            <time datetime="{{ post.date }}" class="d-inline-block fw-light color-secondary-light">
                <i class="far fa-calendar-alt color-rang1"></i> {{ post.date | date: "%b %d, %y" }}
            </time>
            &nbsp;
            <time datetime="{{ post.date }}" class="d-inline-block fw-light color-secondary-light">
                <i class="far fa-clock color-rang2"></i> {{ post.date | date: "%H:%M" }}
            </time>
        </span>
        <span class="w-100 text-end">
            {% if include.sticky == 'true' %}
                <i class="fas fa-thumbtack color-gray-400"></i>
            {% endif %}
        </span>
    </div>
    <p class="color-secondary">
        {% if post.excerpt_separator %}
            {{ post.excerpt | strip_html }}
        {% else %}
            {{ post.content | strip_html | truncate: 200 }}
        {% endif %}
    </p>
    <div class="categories">
        {% for tag in post.tags %}
        <a class="flat" href="{{ '/tags' | site.baseurl }}#{{ tag }}">{{ tag }}</a>
        {% endfor %}
    </div>
</div>
