@import "variables";
@import "functions";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  background-color: $color-base;
}

html {
  font-family: $serif-primary;
  font-size: 14px;
  -webkit-text-size-adjust: 100%;
}

a {
  color: $color-link;
  text-decoration: none;

  &.flat {
    display: inline-block;
    color: $color-link-light;
    background-color: $color-primary;
    //border-radius: 5px;
    padding: 4px 8px;
    &:hover {
      background-color: $color-primary-dark;
    }
  }
}

input {
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0;
  -webkit-rtl-ordering: logical;
}

.content {
  max-width: $content-max-width;
  padding: 0 10px;
}

@keyframes fade-in {
  0% {opacity: 0;}
  40% {opacity: 0;}
  100% {opacity: 1;}
}
@-webkit-keyframes fade-in {
  0% {opacity: 0;}
  40% {opacity: 0;}
  100% {opacity: 1;}
}
