@import "morph/functions";
@import "morph/components/post-info";

.page-classify {
  font-size: 1.2rem;

  &, header.header {
    padding: 2rem 0 0 0;
  }

  .custom-area {
    padding: 1rem 0;
  }

  .container {
    width: 50%;
    @include media-sm() {
      width: 100%;
    }
    border-left: 3px solid $color-link-light;
    padding: 1rem;
    .component-tag {
      margin: .5rem;
      color: $color-link-light;
    }
  }

  .simple-post-info {
    padding: 0 1rem;
  }

  .archive-box {
    padding: 1rem 0;
    &:not(:last-child) {
      border-bottom: 1px dashed $color-primary-dark;
    }
    .title {
      font-size: 1.3rem;
    }
    h3 {
      padding: .5rem 0;
    }
    h3, .info {
      @include media-sm() {
        font-size: 1.2rem;
      }
    }
    .menu-box {
      border-left: 1px dashed $color-primary-dark;
    }
  }

  .component-tag {
    background-color: $color-primary;
    padding: 3px 8px;
    border-radius: 4px;
  }
}
