@import "technia/variables";
@import "technia/functions";
@import "technia/components/post-info";
@import "technia/components/paginator";

.page-home {
  font-size: 16px;
  .left {
    padding: 1rem 0;
    width: 59%;
    @include media-sm() {
      width: 100%;
    }
  }

  .right {
    width: 40%;
    padding: 10px 0 10px 3rem;

    .title {
      font-size: 1.2rem;
      padding: 10px 0;
      border-bottom: 1px dashed $color-primary-dark;
    }

    .list-container {
      padding: 1rem 0;
      li {
        a.hover-color-reversal:hover {
          background-color: $color-link;
          color: white;
        }
        &.horizontal {
          display: inline-block;
          margin-top: .5rem;
        }
        &:not(:last-child) {
          border-bottom: 1px dashed $color-primary-dark;
        }
        @include media-sm() {
          a.hover-border {
            border: 1px solid darken($color-primary-dark, 3%);
            position: relative;
            left: 1px;
          }
        }
        &.hover-primary:hover {
          background-color: $color-primary;
          a.hover-border {
            border: 1px solid $color-primary-dark;
            position: relative;
            left: 1px;
          }
        }
      }
    }

    .item:not(:first-child) {
      padding-top: 1rem;
    }

    @include media-sm() {
      width: 100%;
      padding-left: 0;
    }
  }
}
