@import "technia/variables";
@import "technia/colors";
@import "technia/functions";
@import "technia/components/highlight";
@import "technia/components/catalogue";

.page-post {
  .content {
    .status-bar {
      @include media-sm() {
        top: 0;
      }
      height: 3rem;
      .structure-menu {
        height: 100%;
        button {
          display: none;
          padding: .4rem .6rem;
          border-radius: 100%;
          border: 1px solid map-get($colors, 'primary');
          @include media-sm() {
            display: inline;
          }
        }
      }
    }

    .left {
      width: 70%;
      padding: 2rem 0;
      color: map-get($colors, 'secondary');

      header {
        padding: 0 0 2.5rem 0;
        .title {
          font-size: 2.5rem;
          padding: .5rem 0;
        }
      }
      article.text {
        color: map-get($colors, 'secondary-light');
        font-size: 18px;
        line-height: 1.5;
        li {
          margin-left: 1.5em;
        }
        h1,h2,h3,h4,h5,h6 {
          font-weight: normal;
          color: map-get($colors, 'secondary-dark');
          padding: 1rem 0 .5rem 0;
          .header-anchor {
            display: none;
            margin-left: 5px;
            font-size: .7em;
          }
          &:hover .header-anchor {
            display: inline-block;
            animation: fade-in .5s;
            -webkit-animation:fade-in .5s;
          }
        }
      }

      @include media-sm() {
        width: 100%;
        header {
          .title {
            font-size: 2rem;
          }
        }
      }
    }

    .right {
      margin-left: 2rem;
      padding: 2rem 0;
      width: 30%;
      h2 {
        padding: 0 0 1rem 1rem;
        border-left: 2px solid map-get($colors, 'primary-dark');
        border-bottom: 2px solid map-get($colors, 'primary-dark');
      }
    }

    .position-sticky-top {
      position: sticky;
      top: 0;
    }
  }
}
