@import "technia/variables";
@import "technia/functions";

.page-search {
  header.header {
    padding: 2rem 0;

    .search-wrap {
      min-width: 40%;
    }
  }

  $search-box-radius: 3px;
  $search-box-border-color: $color-primary-dark;
  input.search-input {
    font-size: 14px;
    padding: 12px 10px;
    -webkit-appearance: none;
    outline: none;
    border: 1px solid $search-box-border-color;
    border-right: 0;
    border-top-left-radius: $search-box-radius;
    border-bottom-left-radius: $search-box-radius;
  }
  button.search-button {
    border: 1px solid $search-box-border-color;
    border-left: 0;
    border-top-right-radius: $search-box-radius;
    border-bottom-right-radius: $search-box-radius;
    padding: 6px 15px;
    margin-left: -5px;
  }

  p.search-template-content {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    @include media-sm() {
      -webkit-line-clamp: 5;
    }
  }
  p.tags {
    padding: .5rem 0;
  }

  ul.search-results-container {
    list-style-type: none;
    text-align: center;
    li {
      text-align: left;
      padding: 1rem 0;
      .title {
        font-size: 1.5rem;
        padding-bottom: .5rem;
      }
      p {
        font-size: 1.2rem;
        line-height: 1.7rem;
      }
      &:not(:last-child) {
        border-bottom: 1px dashed $color-primary-dark;
      }
    }
  }
}