@import "../colors";

footer.footer {
  padding: 1rem 0;
  .content {
    padding: 1rem;
    font-size: .9rem;
    line-height: 1.5rem;
    border-top: 1px dashed map-get($colors, "primary-dark");
  }
}
