@import "../functions";
@import "../variables";

.header {
  .border-bottom {
    border-bottom: 1px solid $color-primary-dark;
  }

  .logo {
    font-size: 28px;
    height: 115px;

    a {
      font-family: Arial, PingFangSC-Regular, "Microsoft YaHei-Regular", "Microsoft YaHei", serif;
      color: $color-logo;

      &:hover {
        color: tint-color($color-logo, 15%);
      }
    }
  }

  .search-box {
    margin-left: 15px;
    .search {
      position: relative;
      @include media-md() {width: 50%}
      @include media-sm() {width: 65%}
      @include media-xs() {width: 75%}
      width: 35%;
    }

    $search-box-radius: 2px;
    $search-box-border-color: $color-primary-dark;
    input {
      font-size: 13px;
      padding: 6px 10px;
      -webkit-appearance: none;
      outline: none;
      border: 1px solid $search-box-border-color;
      border-right: 0;
      border-top-left-radius: $search-box-radius;
      border-bottom-left-radius: $search-box-radius;
      color: $color-secondary;
      background-color: $color-base;
    }

    button.search-button {
      border: 1px solid $search-box-border-color;
      border-left: 0;
      border-top-right-radius: $search-box-radius;
      border-bottom-right-radius: $search-box-radius;
      padding: 6px 8px;
      margin-left: -5px;
      color: $color-secondary-light;
    }
  }

  .nav-bar {
    ul {
      line-height: 250%;
      overflow-x: auto;

      &::-webkit-scrollbar {
        display: none !important;
      }

      li {
        list-style-type: none;
        margin-right: 25px;

        a {
          color: $color-secondary;
          font-size: 14px;
          padding: 4px 6px;
        }
      }
    }
  }
}