@import "../variables";
@import "../colors";
@import "../functions";

.full-mask {
  display: none;
  z-index: 10;
  position: fixed;
  top: 0; left: 0;
  background-color: rgba(0,0,0,.5);
  width: 100%;
  height: 100%;
}

.component {
  &.bread {
    font-size: .9rem;

    span {
      padding: .3rem;
      border-radius: 5px;
    }
  }
}
