@import "../variables";
@import "../colors";

.catalogue-item {
  padding: 1rem .7rem;
  &:not(:first-child) {
    border-top: 1px dashed map-get($colors, 'primary-dark');
  }
  h3, p, .categories {
    padding: 10px 0;
  }

  p {
    line-height: 1.4em;
  }

  h3 {
    font-size: 1.3rem;
    padding-bottom: 4px;
  }
  time, .categories {
    font-size: .7rem;
  }
}
