// scss-docs-start color-variables
$_highlight: (
  "paper": #fdfdf7,
  "aluminium": #eeeeec,
  "butter": #fce94f,
  "chameleon": #8ae234,
  "orange": #fcaf3e,
  "chocolate": #e9b96e,
  "skyblue": #729fcf,
  "plum": #ad7fa8,
  "slate": #888a85,
  "red": #ef2929
) !default;

$_middle: (
  "paper": #f6f6f1,
  "aluminium": #d3d7cf,
  "butter": #edd400,
  "chameleon": #73d216,
  "orange": #f57900,
  "chocolate": #c17d11,
  "skyblue": #3465a4,
  "plum": #75507b,
  "slate": #555753,
  "red": #cc0000
) !default;

$_shadow: (
  "paper": #e9e9e2,
  "aluminium": #babdb6,
  "butter": #c4a000,
  "chameleon": #4e9a06,
  "orange": #ce5c00,
  "chocolate": #8f5902,
  "skyblue": #204a87,
  "plum": #5c3566,
  "slate": #2e3436,
  "red": #a40000
) !default;

// Build colors
$colors: (
  "primary-light": map-get($_highlight, "paper"),
  "primary": map-get($_middle, "paper"),
  "primary-dark": map-get($_shadow, "paper"),
  "secondary-light": map-get($_highlight, "slate"),
  "secondary": map-get($_middle, "slate"),
  "secondary-dark": map-get($_shadow, "slate"),
  "link-light": map-get($_highlight, "skyblue"),
  "link": map-get($_middle, "skyblue"),
  "link-dark": map-get($_shadow, "skyblue"),
) !default;
