---
t:
  en:
    posts: posts
    tags_low: tags
    tags_up: Tags
    categories_low: categories
    categories_up: Categories
    about_low: about
    about_up: About
    search: search
    catalogue: Catalogue
    home: Home
  zh:
    posts: 文章
    tags_low: 标签
    tags_up: 标签
    categories_low: 归档
    categories_up: 归档
    about_low: 关于
    about_up: 关于
    search: 搜索
    catalogue: 目录
    home: 首页
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: 'en' }}">

  <head>
    <title>{{ page.title | default: site.title }}</title>
    {% include head.html %}
  </head>

  <body>
    {% include header.html %}

    {{ content }}

    {% include footer.html %}
  </body>
</html>
