---
layout: default
---
<div class="page-home">
    <div class="content m-auto d-flex d-sm-block">
        <div class="left flex-sm-none">
            <div class="catalogue">
                {% for post in site.posts %}
                    {% if post.sticky %}
                        {% include catalogue_item.html sticky='true' post=post %}
                    {% endif %}
                {% endfor %}

                {% for post in paginator.posts %}
                    {% include catalogue_item.html post=post %}
                {% endfor %}
            </div>
            <!-- Pagination links -->
            {% include paginator.html %}
        </div>

        <div class="right flex-sm-none">
            <div class="w-100">
                <h2 class="d-flex color-secondary">
                    <p class="flex-grow-1"><i class="fas fa-tag"></i> Hot tags</p>
                    <a class="fw-normal" href="/">
                        <span style="font-size: .9rem">show more »</span>
                    </a>
                </h2>
                <div class="tags-box">
                    {% for tag in site.tags %}
                    <a class="flat" href="#{{ tag[0] }}">{{ tag[0] }}</a>
                    {% endfor %}
                </div>
            </div>

            <div class="w-100" style="padding-top: 1rem">
                <h2 class="d-flex color-secondary">
                    <p class="flex-grow-1"><i class="far fa-file-pdf"></i> popular articles</p>
                </h2>
                <div class="tags-box">
                    {% for category in site.categories %}
                    <a class="flat" href="#{{ category[0] }}">{{ category[0] }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
