---
layout: default
---
{% assign t = site.data.language[page.lang].t %}
<div class="page-home">
    {% if site.paginate %}
        {% assign posts = paginator.posts %}
    {% else %}
        {% assign posts = site.posts %}
    {% endif %}
    <div class="content m-auto d-flex d-sm-block">
        <div class="left flex-sm-none">
            <div class="catalogue">
                {% for post in posts %}
                    {% include post-info.html post=post %}
                {% endfor %}
            </div>
            {% if site.paginate %}
            <!-- Pagination links -->
            {% include paginator.html %}
            {% endif %}
        </div>

        <div class="right flex-sm-none">
            {% assign _stickies = site.posts | map: "sticky" %}
            {% if _stickies contains true %}
            <div class="w-100 item">
                <h2 class="d-flex color-secondary title">
                    <p class="flex-grow-1"><i class="fas fa-feather"></i> {{ t.trending_articles | default: 'Trending Articles' }}</p>
                </h2>
                <ul class="list-container">
                    {% assign sticky_index = 0 %}
                    {% for post in site.posts %}
                        {% if post.sticky %}
                            {% assign sticky_index = sticky_index | plus:1 %}
                            {% include trending-article-item.html post=post index=sticky_index  %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            <div class="w-100 item">
                <h2 class="d-flex color-secondary title">
                    <p class="flex-grow-1"><i class="fas fa-tag"></i> {{ t.trending_tags | default: 'Trending Tags' }}</p>
                    <a class="fw-normal" href="{{ '/tags' | prepend: site.baseurl }}">
                        <span style="font-size: .9rem">{{ t.show_more | default: 'show more' }} »</span>
                    </a>
                </h2>
                <ul class="list-container">
                    {% for tag in site.tags limit:12 %}
                    <li class="horizontal list-style-none">
                        <a class="flat" href="{{ '/tags' | prepend: site.baseurl }}#{{ tag[0] }}">{{ tag[0] }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
