---
layout: default
name: post
---
<div class="page-post">
    <div class="content m-auto">
        <div class="d-flex">
            <section class="left flex-sm-none">
                <div class="status-bar d-flex">
                    <div class="bread user-select-none flex-grow-1 d-flex flex-column justify-content-center">
                        <div>
                            <span><a href="/">Home</a></span>
                            <i class="fas fa-angle-right"></i>
                            <span>{{ page.date | date: '%Y' }}</span>
                            <i class="fas fa-angle-right"></i>
                            <span>{{ page.date | date: '%m' }}</span>
                            <i class="fas fa-angle-right"></i>
                            <span>{{ page.date | date: '%d' }}</span>
                        </div>
                    </div>
                    <div class="structure-menu d-flex flex-column justify-content-center">
                        <button type="button" id="structure-button">
                            <i class="fas fa-code-branch"></i>
                        </button>
                    </div>
                    <div class="full-mask" id="full-mask">
                        <div class="structure-box">
                            <div class="header">
                                <h3 class="text-center">structure</h3>
                            </div>
                            <ul class="structure-sm w-100" id="structure-sm">
                                <!-- document structure list -->
                            </ul>
                        </div>
                    </div>
                </div>
                <header>
                    <h1 class="title fw-normal">{{ page.title }}</h1>
                    <p class="color-secondary-light">
                        Update time:
                        <time datetime="{{ site.time }}">{{ page.date | date: '%Y-%m-%d %H:%M' }}</time>
                    </p>
                </header>
                <article class="text">
                    {{ content }}
                </article>
            </section>
            <aside class="right flex-sm-none d-sm-none">
                <ul class="structure position-sticky-top" id="structure">
                    <!-- document structure list -->
                </ul>
            </aside>
        </div>
    </div>
</div>

<script>
    var postPage = new PostPage()
    var structure = document.getElementById('structure')
    var structureSm = document.getElementById('structure-sm')
    var structureButton = document.getElementById('structure-button')
    var fullMask = document.getElementById('full-mask')
    postPage.initStructure(structure)
    postPage.initStructure(structureSm)
    postPage.addAnchorToHeaders()

    structureButton.onclick = function () {
        fullMask.style.display = 'block'
    }
    fullMask.onclick = function () {
        fullMask.style.display = 'none'
    }
</script>
