---
layout: default
name: post
---
<div class="page-post">
    {% include structure.html list_id="structure-sm" %}
    <div class="content m-auto">
        <div class="d-flex">
            <section class="left flex-sm-none flex-auto">
                <div class="status-bar d-flex position-sm-sticky bg-base">
                    <div class="h-100 flex-grow-1 d-flex flex-column justify-content-center">
                        {% assign paths = page.date | date: 'Post %Y %m %d' %}
                        {% include bread-bar.html paths=paths  %}
                    </div>
                    <div class="structure-menu d-flex flex-column justify-content-center">
                        <button type="button" class="bg-primary color-secondary" id="structure-button">
                            <i class="fas fa-code-branch"></i>
                        </button>
                    </div>
                </div>
                <header>
                    <h1 class="title fw-normal">{{ page.title }}</h1>
                    <p class="color-secondary-light">
                        Update time:
                        <time datetime="{{ site.time }}">{{ page.date | date: '%Y-%m-%d %H:%M' }}</time>
                    </p>
                </header>
                <article class="text">
                    {{ content }}
                </article>
            </section>
            <aside class="right flex-sm-none flex-none d-sm-none component catalogue">
                <ul class="body bg-base position-sticky-top" id="structure">
                    <!-- document structure list -->
                </ul>
            </aside>
        </div>
    </div>
</div>

<script>
    var postPage = new PostPage('{{ page.title }}')
    var structure = document.getElementById('structure')
    var structureSm = document.getElementById('structure-sm')
    var structureButton = document.getElementById('structure-button')
    postPage.initStructure(structure)
    postPage.initStructure(structureSm)
    postPage.addAnchorToHeaders()

    structureButton.onclick = function () {
        window.comShowCatalogue()
    }
</script>
