---
layout: default
---
{% assign t = site.data.language[page.lang].t | default: site.data.language.en.t %}
<div id="page-search" class="page-search">
    <div class="content m-auto">
        <div style="padding-top: 2rem;">
            {% assign paths = t.search_up %}
            {% include bread-bar.html paths=paths  %}
        </div>
        <header class="header d-flex">
            <div class="search-wrap d-flex">
                <label for="search-input"></label>
                <input
                    type="text"
                    class="search-input flex-grow-1 bg-base color-secondary"
                    id="search-input"
                    placeholder="{{ t.search_placeholder }}"
                />
                <button
                    type="button"
                    id="search-button"
                    class="search-button cursor-pointer bg-primary color-secondary"
                >
                    {{ t.search_up }}
                </button>
            </div>
        </header>

        <div>
            <ul class="search-results-container color-secondary" id="search-results-container">
                <!-- search list -->
            </ul>
        </div>
    </div>
</div>
